parameters:
	ignoreErrors:
		- '#PHPUnit_Framework_MockObject_MockObject given#'
services:
	-
		class: PHPStan\Reflection\PhpParser\PhpParserNameClassReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
